gateways/dis/src/main/resources/xsd/CommonData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by Nityanand Shastri (US Customs & Border Protection) -->
<!-- Authored by CBP TASPO - POCs: Shailesh Sardesai and Ed Jenkins  (CUSTOMS & BORDER PROTECTION) -->
<!-- 
NOTE: ONLY DOCUMENTS THAT ARE EXPLICITLY LISTED IN THE FEDERAL REGISTER NOTICE (FRN) 
            FOR TRANSMISSION BY TRADE SHOULD BE SUBMITTED TO CBP VIA DIS. THE DOCUMENT LABEL 
            LIST IN THE DIS XSD IS ONLY A REFERENCE TO THE TECHNICAL ABILITY TO SUPPORT EACH DOCUMENT TYPE TO 
            FACILITATE TESTING. THE FRN IS THE SOLE, FORMAL AUTHORITY WHICH DICTATES THE SPECIFIED ALLOWABLE FORMS TO
            BE TRANSIMITTED TO CBP IN THE OPERATIONAL PRODUCTION ENVIRONMENT. THE FRN MAY ALSO INDICATE SUPPORT FOR
			MORE DOCUMENT TYPES THAN INDICATED IN THE ENUM LIST IN THIS XSD, IN WHICH CASE THE DIS SYSTEM WILL SUPPORT
			THE EXPANDED LIST WITHOUT A CHANGE IN THE XSD BEING PUBLISHED.

        MOST ENUMERATED VALUES HAVE DELIBERATELY BEEN DEFINED AS XS:STRING TO AVOID CHANGE IMPACT. 
        ENUMERATIONS (i.e. LIST OF POSSIBLE VALUES) ARE INSTEAD SPECIFIED IN THE DIS IMPLEMENTATION GUIDE.

         NOTE: Please see the DIS Implementation guide published on CBP.GOV for the current list of supported values for all applicable elements in this XSD.
-->
<xs:schema xmlns="http://cbp.dhs.gov/DIS" xmlns:DIS="http://cbp.dhs.gov/DIS" xmlns:TradeData="http://cbp.dhs.gov/TradeData" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cbp.dhs.gov/DIS" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="DocumentData">
		<xs:annotation>
			<xs:documentation>Document data such as Document ID, Label, Name, Version etc describing the submitted document</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentHeader" type="DocumentHeader">
				<xs:annotation>
					<xs:documentation>Key information needed to identify and locate a document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GovtAgencyList" type="GovtAgencyList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional - List of Government Agencies that this document is being submitted to.
					    NOTE: Please see the DIS Implementation guide published on CBP.GOV for the current list of supported values for this field.  
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comment" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional - Any Explanatory comment regarding the document or business transaction for this document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OptionalData" type="OptionalData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additional Optional Data included in support of the document submission</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselData" type="VesselDataType" minOccurs="0"/>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0"/>
			<xs:element name="DocumentObject" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Actual document or image that is Base64Encoded to convert to a string</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentHeader">
		<xs:annotation>
			<xs:documentation>Elements that are used to identify/locate a unique document submission.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Generated by the sending system for traceability. Should be UniqueID within the sending system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentLabel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Required - Form-Label of the submitted Document. Ex CBP Form 301.
					    NOTE: Please see the DIS Implementation guide for the current list of supported values for this field.  
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompleteFileName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Complete File Name (example filename.pdf).  EXCLUSIONS for constructing filename are the following; DO NOT USE Apostrophe, /, \ , %, ampersand within filename and spaces before or after file name, double spaces within name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileExtensionType" type="xs:string">
				<xs:annotation>
					<xs:documentation>File Extension Type PDF;DOCX etc 
					    NOTE: Please see the DIS Implementation guide for the current list of supported values for this field.  
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Free Form description of document if needed </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentSentDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date and Time when the document was sent to CBP if known. EST Format 2010-05-25T00:34:47.0Z </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocPreviouslySubmitted" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Y or N. Use Y to indicate that the document was previously submitted to CBP, and that this transaction should refer to. 
					        NOTE: DocumentName will be used to refer to the on-file document.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GovtAgencyList">
		<xs:sequence>
			<xs:element name="GovtAgency" type="xs:string" maxOccurs="50">
				<xs:annotation>
					<xs:documentation>The Government Agency (one or more) that this document is intended for. The Document will be made available to only the specified agency or per current govt policy if this policy changes</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SubmittedToPortCode">
		<xs:annotation>
			<xs:documentation>Schedule D (Domestic) code for the U.S Port to which this document is being submitted</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="TradeTransaction">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Trade Transactions such as Entries, Bills etc that this document is associated with</xs:documentation>
			</xs:annotation>
			<xs:element name="TransactionCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>SINGLE_TXN or CONTINUOUS ('Continous' documents are kept on file and associated with the FILER and not with any particular transaction)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Entry" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional - Entry Number or Entry Summary Number that the document in this message is to be associated with. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EntryNumber" type="xs:string"/>
						<xs:element name="Filer" type="xs:string"/>
						<xs:element name="EntryLineNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="EntrySummary" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional - Entry Number or Entry Summary Number that the document in this message is to be associated with. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EntryNumber" type="xs:string"/>
						<xs:element name="Filer" type="xs:string"/>
						<xs:element name="EntryLineNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Bill" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional - Bill Info that the document in this message is to be associated with. SCAC is required. BillFileDate is optional.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SCAC" type="xs:string"/>
						<xs:element name="BillNumber" type="xs:string"/>
						<xs:element name="HouseBillNumber" type="xs:string" minOccurs="0"/>
						<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ISFNumber" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional - ISF TransactionNumber that the document in this message is to be associated with.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Filer" type="xs:string"/>
						<xs:element name="ISFNumber" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ITN" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ITN of Export Data</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ITN" type="xs:string"/>
						<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="XTN" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>XTN of Export Data</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="XTN" type="xs:string"/>
						<xs:element name="ReferenceNumber" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FTZAdmissionNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Foreign Trade Zone Admissions Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImporterOfRecordNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Importer of Record Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherTransaction" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Optional - A Transaction that is not covered by the above options. </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionName" type="xs:string"/>
						<xs:element name="TransactionNumber" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OptionalData">
		<xs:sequence>
			<xs:element name="InvoiceData" type="InvoiceData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Invoice or Invoice Worksheet Specific Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BondData" type="BondData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bond Specific Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackingListData" type="PackingListData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Packing List Specific Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateData" type="CertificateData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Certificate Info. ex. NOAA Certifcate of Origin</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermitData" type="PermitData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Permit Info. ex.Import Permit USDA Regulations</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToxicSubstancesData" type="ToxicSubstancesData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Toxic Substance Info. Ex. EPA Data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityList" type="CommodityList" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional - Commodity Information if not specified elsewhere in submitted XML.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalData" type="AdditionalData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional - Additional data in the form of Name-Value Pairs in case sender wishes to transmit data not accomodated in this schema. ex. INVOICE_AMT = $640,000</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommodityList">
		<xs:sequence>
			<xs:element name="CommodityData" type="CommodityData" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BondData">
		<xs:annotation>
			<xs:documentation>Bond Specific Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BondName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name of Bond - Single TXN, ISF Bond etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BondNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Bond Number (ID)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BondType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of Bond</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SuretyCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SuretyCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgentIDNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AgentIDNbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Filer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Filer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BondAmount" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Amount of the Bond in USD</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceData">
		<xs:annotation>
			<xs:documentation>Invoice Specific Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvoiceNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Invoice Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceType" type="xs:string">
				<xs:annotation>
					<xs:documentation>Invoice Type. Ex. Commercial Invoice etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceLineItemData" type="InvoiceLineItemData" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Invoice Line Nbr level information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackingListData">
		<xs:annotation>
			<xs:documentation>Packing List Specific Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PackingListNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Invoice Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InvoiceNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Invoice Number. Add any details in InvoiceData Element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurchaseOrderNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Purchase Order Nbr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommodityData">
		<xs:annotation>
			<xs:documentation>Commodity Information. Provide what is available</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EntryLineNumber" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Entry Line Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HTSNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTS Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Commodity Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryOfOrigin" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Country Of Origin - UNLOC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContainerNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the goods are expected. EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortOfLading" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Port of Lading - Schedule D</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortOfUnlading" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Port of Unlading - Schedule K</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PortOfEntry" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Port of Entry - Schedule K</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PPQSignature" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>PPQSignature</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SealNumbers" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Multiple Seal Numbers supplied as a comma separated string ex. ABC123, DEF123, GHI123</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradeParties" type="TradeParties" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Commodity Manufacturer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FilerReferenceNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FilerReferenceNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleAndEngineData" type="VehicleAndEngineData" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VehicleAndEngineData</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ToxicSubstancesData">
		<xs:annotation>
			<xs:documentation>Toxic Substances Data</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CASNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CAS Nbr. Use comma separated list for Many CAS Nbrs Ex. A, B, C</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EPARegistrationNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Container Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EPAProducerEstNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EPAProducerEstNbr</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLineItemList">
		<xs:sequence>
			<xs:element name="InvoiceLineItemData" type="InvoiceLineItemData" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CertificateData">
		<xs:annotation>
			<xs:documentation>Information typically on Certificates</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertificateNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Certificate Number (ID) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ICertificate Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Statement" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statement on Certificate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date the certificate is valid till. EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImporterOfRecord" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Importer Of Record</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionLocation" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Inspection Location</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PermitData">
		<xs:annotation>
			<xs:documentation>Information typically on Permits</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PermitNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>permit Number (ID) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PermitType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Permit Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovalNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Approval Number </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Statement" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Statement on Permit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Start Date the Permit is valid from EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>End Date the Permit is valid till. EST Format 2010-05-25T00:34:47.0Z</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImporterOfRecord" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Importer Of Record</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBPRequest">
		<xs:sequence>
			<xs:element name="CBPRequestID" type="xs:string">
				<xs:annotation>
					<xs:documentation>CBP request in response to which this Document is being Sent. Ex. ACE Action Number. Specify 'UNSOLICITED'; 'UNKNOWN' if not known/applicable.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBPRequestType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CBP request in response to which this Document is being Sent. Could be same as ACE Action Number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CBPRequestDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date Time of CBP request in response to which this Document is being Sent</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InvoiceLineItemData">
		<xs:annotation>
			<xs:documentation>Invoice Line Item Level Information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InvoiceLineNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>name-value pairs of information to accomodate additional information for flexibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommodityData" type="CommodityData">
				<xs:annotation>
					<xs:documentation>Commodity Information at each line item level </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleAndEngineData">
		<xs:annotation>
			<xs:documentation>VehicleAndEngineData</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="VIN" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vehicle Identification Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleManufacturer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VehicleMake</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleModel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VehicleModel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleSerialNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VehicleSerialNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleManufactureDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>VehicleSerialNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineManufacturer" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EngineManufacturer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineModel" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EngineModel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineSerialNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EngineSerialNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EngineManufactureDate" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>EngineManufactureDate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalData">
		<xs:annotation>
			<xs:documentation>Any additional information that a sender wishes to provide in the form of name-value pairs. This data is for information only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NameValuePair" type="NameValuePair" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>name-value pairs of information to accomodate additional information for flexibility.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameValuePair">
		<xs:annotation>
			<xs:documentation>Name-value pairs of information for data of interest not accomodated by explicit XML elements. The below elements will be interpreted as INVOICE_AMT = $640,000 and used for display only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name of the additional data element ex. INVOICE_AMT</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string">
				<xs:annotation>
					<xs:documentation>Value of the additional data element identified in Name (above) ex. $640,000</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradeParties">
		<xs:sequence>
			<xs:element name="TradeParty" type="TradePartyInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TradePartyInfo">
		<xs:sequence>
			<xs:element name="TradePartyID" type="xs:string">
				<xs:annotation>
					<xs:documentation>Unique ID of the Trade Party. ex. ImporterID, ShipperID, CarrierID etc. Send UNKNOWN if only Name and Address available.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradePartyType" type="xs:string">
				<xs:annotation>
					<xs:documentation>See Enum list in DIS Documentation Guide</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradePartyName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Trade Party Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TradePartyAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Trade Party Address </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VesselDataType">
		<xs:sequence>
			<xs:element name="CarrierSCAC" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SCAC Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="License_PermitNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>License permit number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CertificateNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Certificate Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDate" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>License issue date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpirationDate" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>License expiration date </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossTonnage" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gross tonnage (weight) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetTonnage" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Net Tonnage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselVoyageNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vessel Voyage Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselVoyageSegmentNbr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vessel Voyage Segment Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VesselInspectionID" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Vessel Inspection ID</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactInfoType">
		<xs:sequence>
			<xs:element name="POC_Info" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>POC Contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POC_PhoneNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>POC_PhoneNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReturnEmailAddress" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Email address of return party</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackageIdentifierType">
		<xs:annotation>
			<xs:documentation>Can be used to provide CBMA IOR Number</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PackageCategory" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Package Category</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackageName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Package Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImporterOfRecordNbr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Importer Of Record Number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
